# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.properties
*.properties
*.properties
*.properties
WebRoot/WEB-INF/classes/com/daibingjie/dao/AuthorityMapper.xml
WebRoot/WEB-INF/classes/com/liujiang/dao/DepartsMapper.xml
WebRoot/WEB-INF/classes/com/liujiang/dao/DedoMapper.xml
WebRoot/WEB-INF/classes/com/dzl/dao/BooksMapper.xml
WebRoot/WEB-INF/classes/com/dzl/dao/CardsMapper.xml
WebRoot/WEB-INF/classes/com/daibingjie/dao/DispensingMapper.xml
src/com/daibingjie/test/DoctorBusTest.java
WebRoot/WEB-INF/classes/com/liujiang/dao/DoctorsMapper.xml
src/com/daibingjie/test/DoctorBusTest.java

